
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
	    <link href="/css/media_queries.css" rel="stylesheet" type="text/css" />
        <meta charset="utf-8">
        <title>
                        Placing Literature
                    </title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="application-name" content="Placing Literature"/>

        <link media="all" type="text/css" rel="stylesheet" href="/css/about.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="/css/media_queries.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@placingliterature">
        <meta name="twitter:title" content="Placing Literature">
        <meta name="twitter:description" content="Placing Literature starting a revolution.">
        <meta name="twitter:creator" content="@placingliterature">
        <meta name="twitter:image:src" content="assets/images/preview_image.png">
        <meta name="twitter:domain" content="placingliterature.com">

        <script src="assets/compiled/javascripts/jquery-058c82de8f2550376fda8462713c7d49.js"></script>
        <script type="text/javascript" src="/js/libs/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/libs/modernizr-latest.js"></script>
        <script type="text/javascript" src="/js/libs/underscore-min.js"></script>
        <script type="text/javascript" src="/js/libs/backbone-min.js"></script>
        <script type="text/javascript" src="/js/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/libs/jquery_cycle_plugin.js"></script>


        <script>
          /// Log In dynamic text controls
          function isUserLoggedIn(callback){
            $.ajax({
              datatype: 'json',
              url: '/user/status',
            }).done(function(data) {
              if (data.status == "logged in"){
                return callback();
              }
              else {
                console.log("User is not logged in");
              }
            });
          }


            isUserLoggedIn(function(){
              // if callback is called, it means the user was logged in
              console.log('User is logged in!')
              $('#loginlink').html("Log Out");
            });
          </script>


    </head>

    <body>

<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--						header					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->

<nav id="navbar" class="navbar navbar-inverse">
   <script type="text/javascript">
    jQuery(function($){
       	     $( '.ham_dropdown' ).click(function(){
       	     $('.dropmenu').slideToggle('drop_off')
       	     })
           })
   </script>

    <a href="/" id="logo" class="navbar-brand" >
      <img class='placing-lit-logo-collection' src="/img/logo@2x.png"/>
    </a>

    <div class="navbar-profile">
        <a id="loginlink" href="{{ url }}">Log In</a>
	</div>
   <nav class='hamburger'>
     <a href='#' class='ham_dropdown'><img src='/img/med_hamburger_icon.png'></a>
     <ul class='dropmenu drop_off'>
       <li><a href="/" class="current">Home</a> </li>
       <li><a href="/about">About</a> </li>
       <li><a href="https://placingliterature.wordpress.com/" target="_blank">Blog </a> </li>
       <li><a href="https://soundcloud.com/placingliterature/" target="_blank">Podcasts</a> </li>
	   <li><a href="/authorspotlight">Author Spotlight</a> </li>
	   <li><a href="/collections">Collections</a> </li>
     </ul>
   </nav>
</nav>


<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--					end header					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->

<!-- --------------------------------------------- -->

<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--					Main Content				-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->


<div id="spotlightContent">
	<!-- About page image -->
	<span class="authorSpotlightTitle">AUTHOR SPOTLIGHT</span>
	<div id="redLine"> </div>

	<div id="spotLightBelow">
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/jan-1.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Samantha Towle
				<br>	Author of <span class="bookTitle">The Mighty Storm</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Samantha Towle">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2015/01/04/indiereader-author-spotlight-samantha-towle/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/bodyBlows.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Steven Simmons
				<br>	Author of <span class="bookTitle">Body Blows</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Steven Simmons">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2015/01/02/rj-julia-author-spotlight-steven-simmons/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/author-spotlight-vandyken.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Rachel Van Dyken
				<br>	Author of <span class="bookTitle">Enforce</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Rachel Van Dyken">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/12/05/indiereader-author-spotlight-rachel-van-dyken/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/Dec-1st-2.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: J.T. Ellison
				<br>	Author of <span class="bookTitle">When Shadows Fall</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/J.T. Ellison">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/12/04/rj-julia-author-spotlight-jt-ellison/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/Nov-1st-2.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Raine Miller
				<br>	Author of <span class="bookTitle">The Muse</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Raine Miller">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/11/04/indiereader-author-spotlight-raine-miller/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/Homepage-Carousel-II.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Assaf Gavron
				<br>	Author of <span class="bookTitle">The Hilltop</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Assaf Gavron">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/11/01/rj-julia-author-spotlight-assaf-gavron/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/oct2014_wild.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Meredith Wild
				<br>	Author of the<span class="bookTitle">Hardwired Series</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Meredith Wild">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/10/02/indiereader-author-spotlight-meredith-wild/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/oct2014_thomas.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Matthew Thomas
				<br>	Author of <span class="bookTitle">We Are Not Ourselves</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Matthew Thomas">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/10/01/rj-julias-author-spotlight-matthew-thomas/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/aug2014_iden.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Matthew Iden
				<br>	Author of <span class="bookTitle">A Reason To Live</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Matthew Iden">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/08/15/indiereader-author-spotlight-matthew-iden/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/aug2014_clarke.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Breena Clarke
				<br>	Author of <span class="bookTitle">Angels Make Their Hope Here</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Breena Clarke">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/08/01/rj-julia-author-spotlight-breena-clarke/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/june2014-duncan.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Brian Duncan
				<br>	Author of <span class="bookTitle">The Settler</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Brian Duncan">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/06/15/indiereader-author-spotlight-brian-duncan/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/june2014-addison.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Corban Addison
				<br>	Author of <span class="bookTitle">The Garden of Burning Sand</span></p>

				<p class="links">
					<a class="greyLink" href="/filter/author/Corban%20Addison">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/06/02/rj-julias-author-spotlight-corban-addison/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/may2014_groome.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Harry Groome
				<br>	Author of <span class="bookTitle">Thirty Below</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Harry Groome">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/05/02/indiereader-author-spotlight-harry-groome/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/may2014_turetsky.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Bianca Turetsky
				<br>	Author of <span class="bookTitle">Time-Traveling Fashionista</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Bianca Turetsky">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/05/01/rj-julia-author-spotlight-bianca-turetsky/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/apr2014_cooper.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: J.S. Cooper
				<br>	Author of <span class="bookTitle">Multiple (switch to a book name)</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/J.S. Cooper">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/04/02/indiereader-author-spotlight-j-s-cooper/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/apr2014_freeman.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Brian Freeman
				<br>	Author of <span class="bookTitle">The Cold Nowhere</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Brian Freeman">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/04/01/r-j-julia-booksellers-author-spotlight-brian-freeman/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/mar2014-blake.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Russell Blake
				<br>	Author of <span class="bookTitle">Jet</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Russell Blake">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/03/02/indiereader-author-spotlight-russell-blake/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/mar2014-kietzman.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Susan Kietzman
				<br>	Author of <span class="bookTitle">A Changing Marriage</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Susan Kietzman">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/03/31/mapping-olive-kitteridge/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/feb2014_love.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Dianna Love
				<br>	Author of the <span class="bookTitle">Slye Temp Series</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Dianna Love">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/02/03/indiereader-author-spotlight-dianna-love/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/feb2014_ridgewood.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Tori L. Ridgewood
				<br>	Author of the <span class="bookTitle">Talbot Series</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Tori L. Ridgewood">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/02/04/author-spotlight-tori-l-ridgewood/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/jan2014-vinjamuri.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: David Vinjamuri
				<br>	Author of <span class="bookTitle">Binder, Operator</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/David Vinjamuri">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/01/02/indiereader-author-spotlight-david-vinjamuri/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/jan2014-smith.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Mark Haskell Smith
				<br>	Author of <span class="bookTitle">Raw: A Love Story</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Mark Haskell Smith">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/01/02/author-spotlight-mark-haskell-smith/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="/img/dec2013-long.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Teri Giuliano Long
				<br>	Author of <span class="bookTitle">In Leah's Wake</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Teri Giuliano Long">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2013/12/02/introducing-indiereader-author-spotlight-terri-giuliano-long/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/dec2013-johnson.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: D.E. Johnson
				<br>	Author of <span class="bookTitle">Detroit Shuffle</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/D.E. Johnson">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2013/12/02/introducing-author-spotlight-d-e-johnson/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="/img/indie_spotlight_oct_2013.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">IndieReader Spotlight: Hugh Howey
				<br>	Author of <span class="bookTitle">Wool, Shift and Dust</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Hugh Howey">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2013/11/01/introducing-indiereader-com-author-spotlight-hugh-howey/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/spotlight_nov2013.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText">
				<p class="spotlightTitle">RJ Julia Spotlight: Charles Finch
				<br>	Author of <span class="bookTitle">An Old Betrayal, Charles Lennox Mysteries</span></p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Charles Finch">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2013/11/01/introducing-author-spotlight-charles-finch/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- END SPOTLIGHT DIV -->
	<!-- ----------------------------------------------------------------------------- -->
	</div>





</div>



<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--				 End Main Content				-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->





<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--						footer					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
        <div id="footer">

            <div class="pull-left">

                <ul class="nav nav-pills">
                    <li>
                        <a href="#">
                            <i class="fa fa-plus"></i> Featured Content
                        </a>
                    </li>
                </ul>

                <div id="footer-social">
                    <a class="socialicon facebook" href="https://www.facebook.com/PlacingLiterature"  title="Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a class="socialicon twitter" href="https://twitter.com/placinglit" title="Twitter"  rel="nofollow" target="_blank"><i class="fa fa-twitter-square"></i></a>
                </div>

                <div id="copyright">
                    Placing Literature &copy; 2012-2015. All Rights Reserved.
                </div>


            </div>

            <div class="pull-right">
				<div class="navContainer">

	      		</div>
	      		<div class="linkSurround">
	      			<a class="navLink" href="/about">About</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" target="_blank" href="https://placingliterature.wordpress.com/">Blog</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" target="_blank" href="https://soundcloud.com/placingliterature/">Podcasts</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" href="/authorspotlight">Author Spotlight</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" href="/collections">Collections</a>
	       		</div>
		        <div class="linkSurround">
		          <a class="navLink lastLink" href="http://www.google.com">Mobile</a>
		        </div>
            </div>

        </div>
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--					end footer					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->

        <script src="assets/compiled/javascripts/bootstrap-22b40e869c2e1aefe250ab1ce75dcf3d.js"></script>
        <script src="assets/compiled/javascripts/desktop-e5f94a0424064414a76cb8b8e52915f7.js"></script>
    </body>
</html>
