
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <title>
                        Placing Literature
                    </title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="application-name" content="Placing Literature"/>

        <link media="all" type="text/css" rel="stylesheet" href="css/about.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@placingliterature">
        <meta name="twitter:title" content="Placing Literature">
        <meta name="twitter:description" content="Placing Literature starting a revolution.">
        <meta name="twitter:creator" content="@placingliterature">
        <meta name="twitter:image:src" content="assets/images/preview_image.png">
        <meta name="twitter:domain" content="placingliterature.com">

        <script src="assets/compiled/javascripts/jquery-058c82de8f2550376fda8462713c7d49.js"></script>
    </head>

    <body>

<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--						header					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->

<nav id="navbar" class="navbar navbar-inverse">

    <a href="/" id="logo" class="navbar-brand" >
    <img class='placing-lit-logo-collection' src="/img/logo@2x.png"/> </a>

    <div class="navbar-profile">
        <a id="loginlink" href="{{ url }}">Sign In</a>
    </div>

</nav>
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--					end header					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->

<!-- --------------------------------------------- -->

<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--					Main Content				-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->


<div id="spotlightContent" class="collectionsSpotlightContent">
	<!-- About page image -->
	<span class="authorSpotlightTitle">COLLECTIONS</span>
	<div id="redLine"> </div>

	<div id="spotLightBelow">
	<!-- ----------------------------------------------------------------------------- -->
	<!-- SPOTLIGHT DIV -->
		<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/sl-queensland-slide.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">Queensland, Australia
				<br>curated by The State Library of Queensland </p>

				<p class="links">
					<a class="greyLink" href="/collections/slq">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/04/01/placing-literature-launches-collection-of-novels-by-place-enabling-author-discovery-by-location/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
			<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/espais-escrits-slide.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">Catalan Literature
				<br>curated by Espais Escrits </p>
				<p class="links">
					<a class="greyLink" href="/collections/catalan">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/04/01/placing-literature-launches-collection-of-novels-by-place-enabling-author-discovery-by-location/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
			<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/july2014_marktwainhouse.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">Mark Twain
				<br>curated by The Mark Twain House & Museum </p>

				<p class="links">
					<a class="greyLink" href="/map/filter/author/Mark%20Twain">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/2014/07/01/placing-literature-launches-collection-of-mark-twain-literature/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
			<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/doonesbury-slide.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">Doonesbury
				<br>curated by G.B. Trudeau</p>
				<p class="links">
					<a class="greyLink" href="#">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
			<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/weaver-press-slide.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">Zimbabwe
				<br>curated by Weaver Press </p>
				<p class="links">
					<a class="greyLink" href="/map/-19.155320,30.013956">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
			<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/st-thomas-moore-chapel-slide.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">Christian Literature
				<br>created by user: slwoodford1815 </p>
				<p class="links">
					<a class="greyLink" href="#">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
			<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/amistad-center-slide.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">Amistad Center
				<br>curated by the Amistad Center </p>
				<p class="links">
					<a class="greyLink" href="#">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
			<div class="spotlightItem">
			<!-- IMAGE (FLOAT LEFT) (.spotlightImage) -->
			<div class="spotlightImage">
				<img class="spotlightImg" src="img/literary-map-nyc-slide.png">
			</div>
			<!-- TEXT (FLOAT RIGHT) (.spotlightText) -->
			<div class="spotlightText collectionSpotlightText">
				<p class="spotlightTitle collectionSpotlightTitle">New York City
				<br>curated by LiteraryMap.NYC</p>
				<p class="links">
					<a class="greyLink" href="/map/40.770180,-73.965711">View on map</a>
					<span class="redLineVert"> </span>
					<a class="greyLink" href="https://placingliterature.wordpress.com/" target="_blank">Go to blog post</a>
				</p>
			</div>
		</div>
	<!-- ENG SPOTLIGHT DIV -->

<!-- ----------------------------------------------------------------------------- -->

	</div>





</div>



<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--				 End Main Content				-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->





<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--						footer					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
        <div id="footer">

            <div class="pull-left">

                <ul class="nav nav-pills">
                    <li>
                        <a href="#">
                            <i class="fa fa-plus"></i> Featured Content
                        </a>
                    </li>
                </ul>

                <div id="footer-social">
                    <a class="socialicon facebook" href="https://www.facebook.com/PlacingLiterature"  title="Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a class="socialicon twitter" href="https://twitter.com/placinglit" title="Twitter"  rel="nofollow" target="_blank"><i class="fa fa-twitter-square"></i></a>
                </div>

                <div id="copyright">
                    Placing Literature &copy; 2012-2015. All Rights Reserved.
                </div>


            </div>

            <div class="pull-right">
				<div class="navContainer">

	      		</div>
	      		<div class="linkSurround">
	      			<a class="navLink" href="/about">About</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" target="_blank" href="https://placingliterature.wordpress.com/">Blog</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" target="_blank" href="https://soundcloud.com/placingliterature/">Podcasts</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" href="/authorspotlight">Author Spotlight</a>
	       		</div>
	       		<div class="linkSurround">
	       			<a class="navLink" href="/collections">Collections</a>
	       		</div>
		        <div class="linkSurround">
		          <a class="navLink lastLink" href="http://www.google.com">Mobile</a>
		        </div>

            </div>

        </div>
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->
<!--					end footer					-->
<!-- ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ -->

        <script src="assets/compiled/javascripts/bootstrap-22b40e869c2e1aefe250ab1ce75dcf3d.js"></script>
        <script src="assets/compiled/javascripts/desktop-e5f94a0424064414a76cb8b8e52915f7.js"></script>
    </body>
</html>
