<script src="/js/libs/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1&amp;hl=fr"></script>

{% extends 'base.tmpl' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id='map-page-container'>
  <div id="iwcontainer">
    <div class="infowindowform">

      <span id="formtitle">Enter Place Information: </span>
      <span>(* required fields)</span>
      <span id="guidelines"><a href="#">guidelines</a></span>
      <span>
        <input type="text" class="input-block-level" id="title" name="title"
               placeholder=" * Book Title: (example: The Wedding of the Two Headed Woman)"
               required/>
      </span>
      <span>
        <input type="text" class="input-block-level" id="author" name="author"
               placeholder=" * Author: (example: Alice Mattison)"
               required/>
      </span>
      <span>
        <input type="text" class="input-block-level" id="place_name" name="place_name"
               placeholder=" * Location Where Scene Takes Place: (example: College Woods)"
               required/>
      </span>
      <span>
        <input type="text" class="input-block-level" id="scene" name="scene"
               placeholder=" * Scene Descriptions: (100 characters)" required/>
      </span>
      <span>
        <input type="text" class="input-block-level" id="notes" name="notes"
               placeholder=" * Notes: (example: The benches where Daisy and Pekko are sitting are next to a placard that explains the geologic history of East Rock.)" required/>
      </span>
      <span>
        <input type="text" class="input-block-level" id="image_url" name="image_url"
               placeholder="Image Url: Book Cover (e.g. http://upload.wikimedia.org/wikipedia/commons/a/af/AlicesAdventuresInWonderlandTitlePage.jpg)"/>
      </span>
      <span>
        <label class="checkbox"><input id="check_in" name="check_in" type="checkbox"/> I've Been Here! </label>
      </span>
      <span id="addplacebutton" class="btn placesubmit">Add Place</span>
    </div>
  </div>
  <div id="mapmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="map mapmodal" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Placing Literature: Where Your Book Meets The Map</h4>
    </div>
    <div class="modal-body">
    <h4>Click the &apos;add scene&apos; button to plot a point.</h4>
    <h4>Type a city into the search bar to explore its literature.</h4>
    </div>
  </div>
  <div id="helpmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="map guidelines" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Consistency is important. Follow these guidelines</h4>
    </div>
    <div class="modal-body">
    <h5>- Be brief and specific in the 'Location' field</h5>
    <h5>- Use Autofill where possible</h5>
    <h5>- Double check spelling and grammar</h5>
    <h5>- Reserve opinions, comments and asides for the Notes field</h5>
    <h5>- Let us know if you make or see an error</h5>
    </div>
  </div>
  <div id="querymodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="map query" aria-hidden="true">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Your search results are being displayed.</h4>
      <h4>To see all available places for every author click 'see all places'</h4>
    </div>
  </div>

<script type="text/javascript">
 jQuery(function($){
    	     $( '.ham_dropdown' ).click(function(){
    	     $('.dropmenu').slideToggle('drop_off')
    	     })
        })
</script>

<div class="homeNav">
   <a href="/" >
     <img class='placing-lit-logo' src='/img/logo@2x.png'</>
   </a>

   <nav class='hamburger'>
     <a href='#' class='ham_dropdown'><img src='/img/med_hamburger_icon.png'></a>
     <ul class='dropmenu drop_off'>
       <li><a href="/" class="current">Home</a> </li>
       <li><a href="/about">About</a> </li>
       <li><a href="https://placingliterature.wordpress.com/" target="_blank">Blog </a> </li>
       <li><a href="https://soundcloud.com/placingliterature/" target="_blank">Podcasts</a> </li>
	   <li><a href="/authorspotlight">Author Spotlight</a> </li>
	   <li><a href="/collections">Collections</a> </li>
     </ul>
   </nav>

  <div id="mapsearchcontainer" class="navbar">

    <div id="maponly">
      <ul id="maplinks" class="nav navbar-inner">
        <!-- <li id="allscenes"><a href="#">see all places</a></li> -->
        <li id="allscenes"><a id='allscenes-text' href="/map">Explore</a></li>
        <li>
          <div id="geocodersearch">
            <input type="text" id="gcf" autocomplete="off" placeholder="Place / Author / Title" class="search-query author-query title-query"/>
            <img id="search" src='/img/searchLight.png'></img>
            <div class='geosearchResults'>
              <div class='searchResultSection'>
                <h6 class='geosearchHeader'>Locations</h3>
                <ul id='locationsSearchList'></ul>
              </div>
              <div class='searchResultSection'>
                <h6 class='geosearchHeader'>Authors</h3>
                <ul id='authorsSearchList'></ul>
              </div>
              <div class='searchResultSection'>
                <h6 class='geosearchHeader'>Books</h3>
                <ul id='bookSearchList'></ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  <div id="mapcontainer">
	  <script>
	  $(document).ready(function() {
	  	$('#slideshow').cycle({
	  	fx: 'fade',
	  	pause:   1,
	  	speed: 500,
	  	timeout:  3500
	  	});
	  });

	  </script>
	  <div id="slideshow">
	    <img src="/img/NewHaven.jpg" class="bgM"/>
	    <img src="/img/NewYork.jpg" class="bgM"/>
	    <img src="/img/SanFrancisco.jpg" class="bgM"/>
	    <img src="/img/Barcelona.jpg" class="bgM"/>
	    <img src="/img/London.jpg" class="bgM"/>
	  </div>

    <div id='mapOverlay'class='overlay'>
      <div class='fluid-container clearfix'>
        <div>
          <div class='col-md-5 vanishing-col '>
            <!-- TODO Top Left -->
            <div class='map-window left-window'>
              <div class='standard-entry-header'>Author Spotlight</div>
              <div class='window-info'>
                <img class='standard-entry-image artist-img' id="top-left-artist-img" src='/img/jan.png' />
                <div class='standard-entry-text standard-entry-intro-text'>RJ Julia Author Spotlight: </div>
                <div id="top-left-artist-name" class='standard-entry-text artist_name' style="cursor: pointer;">Steven Simmons,</div>
                <div class='standard-entry-text standard-entry-text-italics'>Body Blows</div>
              </div>
            </div>
            <!-- TODO Top Right -->
            <div class='map-window right-window'>
              <div class='standard-entry-header'>Author Spotlight</div>
              <div class='window-info'>
                <img class='standard-entry-image artist-img' id="top-right-artist-img" src='/img/jan-1.png'/>
                <div class='standard-entry-text standard-entry-intro-text'>IndieReader Author Spotlight: </div>
                <div id="top-right-artist-name" class='standard-entry-text artist_name' style="cursor: pointer;">Samantha Towle,</div>
                <div class='standard-entry-text standard-entry-text-italics'>The Mighty Storm</div>
              </div>
            </div>
            <!-- TODO Bottom Left -->
            <div class='map-window left-window'>
                <div class='standard-entry-header'>Collections</div>
                <div class='window-info'>
                  <img class='standard-entry-image artist-img' id="bottom-left-artist-img" src="/img/july2014_marktwainhouse.png"/>
                  <div id="bottom-left-artist-name" class="artist_name standard-entry-text standard-entry-text-italics" style="display:inline; cursor: pointer;"> Mark Twain: </div>
                  <div class='standard-entry-text standard-entry-text-italics'>Curated by the Mark Twain House and Museum</div>
                </div>
            </div>
            <!-- TODO Bottom Right  -->
            <div class='map-window right-window'>
              <div class='standard-entry-header'>Featured Author</div>
              <div class='window-info' >
                <img class='standard-entry-image artist-img' id="bottom-right-artist-img" src='/img/hemingway.jpg' />
                <div id="bottom-right-artist-name" class='artist_name standard-entry-text standard-entry-intro-text' style="cursor: pointer;">Ernest Hemingway: </div>
                <div class='standard-entry-text standard-entry-text-italics'>A Farewell to Arms, For Whom the Bell Tolls....</div>
              </div>
            </div>
          </div>
          <div class='col-md-4 window-container middle-window-div vanishing-col'>
            <div class='wide-map-window'>
              <div class="long-entry-header"> Recent Blog Posts  </div>
              <div class='window-info' id="recent-blog">
				 <div class="long-entry-title-text" id="recent-blog-post-title"> }</div>
                 <div class="long-entry-title-text" id="recent-blog-post-published-date">  </div>
                <div class="long-entry-title-text" id="recent-blog-post-summary"></div>
                <div class="long-entry-text continue-reading"><a id="recent-blog-post-link" target="_blank" href=''> Read Full Article </a></div>
              </div>
            </div>
            <div class='wide-map-window'>
              <div class='long-entry-header'>Recent Podcasts</div>
              <div class='window-info'>
                <div class='long-entry-podcast'>
                  <!--  OLD PODCAST
                  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/187336082&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" scrolling="auto" frameborder="0"
                  height="100px" allowtransparency="no"
                  ></iframe>
                -->
                <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196373015&amp" scrolling="auto" frameborder="0"
                height="100px" allowtransparency="no"
                ></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-2  left-map-window-div window-container'>
            <div class='tall-map-window'>
              <img class='tall-entry-logo' align='middle' src="/img/logo.png"/>
                <div class='tall-entry-text tall-bold-text'>Map scenes from novels and explore any place through its literature</div>
                <div id='get-started-button' class='get-started-button'>GET STARTED</div>
                <div class='tall-entry-text tall-entry-text-center'>Places added to date:</div>
                <div id='num-places-added'>{{count}} </div>
                <!-- TODO: dynamically get the most recently added scene from the DB -->
                <div class='tall-entry-text tall-entry-text-center' id="newest_scene_div">Newest Place Added:  </div>
                <div class='tall-entry-text tall-entry-text-center' id="newest_scene"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="addscenebutton"><i class="icon-plus-sign icon-white"></i>
      add scene
      </div>
    <div id='info-overlay'>
      <div class='tab-content'>

        <div id='entry-image'></div>
        <div class='entry' id='scene_entry'>

          <h2 class="entry-title" id='entry-scene-title'>Places</h2>
          <div class="entry-body" id='entry-scene-place-name'></div>
          <div class="entry-body" id='entry-scene-description'></div>
        </div>
        <div class='entry' id='place_entry'>
          <h2 class="entry-title" id='entry-place-title'>Place</h2>
          <div class="entry-body" id='entry-place-place-name'></div>
          <div class="entry-body" id='entry-place-body'></div>
          <div class='entry-body learn-more'>Learn more about <span id='entry-place-location-name'></span>:</div>
          <div class='actionContainer'>
              <a id='wikiActionLink' class='actionAnchor' target="_blank" href='#'><img src='/img/wikipedia.jpg'/></a>
              <!-- Test 2 <a> styled like a button
              <a id="googleActionAnchor" href="#" class="linkButton" target="_blank"> Search  </a>
               Successful!
              <button class='searchGoogle'>
                 <a id='googleActionLink' target="_blank"  href='#' style="text-decoration:none; color: black;">Search <img class='actionAnchor searchGoogleImage' src='/img/google.png'/></a>
                <a id='googleActionLink' target="_blank"  href='#' >Search <img class='actionAnchor searchGoogleImage' src='/img/google.png'/></a>
              </button> -->

              <a id='googleActionLinkMoz' target="_blank"  href='#' class='btn googleButton'>Search <img src='/img/google.png' class="googleImage"/></a>

            </div>
        </div>
        <div class='entry' id='actions_entry'>
          <h2 class="entry-title" id='entry-actions-title'>Actions</h2>
          <div class="entry-body" id='entry-actions-place-name'></div>
          <div class="entry-body" id='entry-actions-body'>
            <div id="checkin">Have you ever been here? <input type='checkbox' class='beenHereCheckbox' name='beenHere'></input></div>
            <div class='actionContainer'>
              <a id='ibActionLink' class='actionAnchor' target="_blank" href='#'><img src="/img/ib.png"/></a>
              <a id='grActionLink' class='actionAnchor' target="_blank" href='#'><img src='/img/goodrd.png'/></a>
              <a id='wikiActionLink2' class='actionAnchor' target="_blank" href='#'><img src='/img/wikipedia.jpg'/></a>

              <!-- <button class="searchGoogle" id="searchGoogleAlt">
                <a id='googleActionLink2' target="_blank"  href='#' style="text-decoration:none; color: black;">Search<img class='actionAnchor searchGoogleImage2' src='/img/google.png'/></a>
              </button> -->
              <a id='googleActionLinkMoz2' target="_blank"  href='#' class='btn googleButton'>Search <img src='/img/google.png' class="googleImage"/></a>
              <a id='shareActionLink' target="_blank" class='actionAnchor' href='#'><img src='/img/share.jpg'/></a>

            </div>
            <a class='reportSceneError' href='mailto:info@placingliterature.com?Subject=Scene%20Error' target="_top">Report a Scene Error</a>

            <div class='actionContainer hiddenActionContainer'>
              <label class='share_url_label'>Map link: </label>
              <input id='share_url'class='share_url'></input>
              <a id='facebookActionLink' class='actionAnchor' target="_blank" href='#'><img class='socialMediaActionLink'src='/img/facebook.jpg'/></a>
              <a id='twitterActionLink' target="_blank" class='actionAnchor' href='#'><img class='socialMediaActionLink' src='/img/twitter.jpg'/></a>
            </div>

          </div>
        </div>
        <div class='entry' id='new_entry'>
          <div id='new_scene_form'>
            <p class='leave_new_scene_form'>&#x2715;</p>
            <div class='new_scene_section' id='new_scene_book_info'>
              <div><div class='new_scene_field_text'>What is the title of the book?</div><input id='new_scene_title' name='title' type='text'></input></div>
              <div><div class='new_scene_field_text'>Who is the author of the book?</div><input id='new_scene_author' name='author' type='text'></input></div>
              <button class='nextSceneFieldBtn nextSceneButton' data-next='#new_scene_descrip'>Continue</button>
            </div>
            <div class='new_scene_section' id='new_scene_descrip'>
              <div><div class='new_scene_field_text'>What happens in this particular scene?</div><textarea  rows='4' cols='40'  id='new_scene_notes'name='notes' type='text'></textarea></div>
              <button class='nextSceneFieldBtn nextSceneButton' data-next='#new_scene_place_info'>Continue</button>
            </div>
            <div class='new_scene_section' id='new_scene_place_info'>
              <div><div class='new_scene_field_text'>What is the name of this place?</div><input id='new_scene_place_name' name='place_name' type='text'></input></div>
              <div><div class='new_scene_field_text'>Tell us something about this place. Can’t think of anything to say? <a id='new_scene_wiki_link' href='https://en.wikipedia.org/w/index.php?search='>Try Wikipedia </a></div><textarea rows='4' cols='40' id='new_scene_scene' name='scene' type='text'></textarea></div>
              <button class='nextSceneFieldBtn nextSceneButton' data-next='#new_scene_personal_info'>Continue</button>
            </div>
            <div class='new_scene_section' id='new_scene_personal_info'>
              <div><span class='new_scene_span'>Have you ever been to this location?</span><input id='new_scene_check_in' class='new_scene_checkbox' name='check_in' type='checkbox'></input></div>
              <div><span class='new_scene_span'>Would you recommend other people visit this place?</span><input class='new_scene_checkbox' name='recommend' type='checkbox'></input></div>
              <button class='nextSceneFieldBtn nextSceneButton' data-next='#new_scene_submit'>Continue</button>
            </div>
            <div class='new_scene_section' id='new_scene_submit'>
              <button id='new_scene_submit_btn' class="nextSceneButton">Submit</button>
            </div>
          </div>
          <ul class='new_entry_nav'>
            <li  class='activeNav' data-section='new_scene_book_info'></li>
            <li data-section='new_scene_descrip'></li>
            <li data-section='new_scene_place_info'></li>
            <li data-section='new_scene_personal_info'></li>
            <li  data-section='new_scene_submit'></li>
          </ul>
        </div>
<p class="allfields">*All Fields Required</p>
      </div>
      <nav id='tabs'>
        <a class='tab' id='scene_tab'data-entry='#scene_entry'>Scene</a>
        <a class='tab' data-entry='#place_entry'>Place</a>
        <a class='tab' data-entry='#actions_entry'>Actions</a>
      </nav>
    </div>
    <div id="map_canvas">

    </div>
  </div>
  <!--
  <div id="lowernav">
    <span id="hidemarkers">hide</span>
    <span> | </span>
    <span id="showmarkers">show</span>
    <span> | </span>

    <span>
      <a href="mailto:info@placingliterature.com">contact us</a> | <a href="/funding">funding provided by the Arts Council of Greater New Haven</a> | </span>
    <span>&copy; 2014. all rights reserved</span>
  </div>
-->

<div id="footer">
  <div class='pull-left'>
    <ul class='nav nav-pills'>
      <li>
        <a id="featContent">
          <i class='fa fa-plus'></i>
          <p id="featContentText"> Hide Featured Content </p>
        </a>
      </li>
    </ul>
    <div id='footer-social'>
      <a class="socialicon facebook" href="https://www.facebook.com/PlacingLiterature" title="Facebook" rel="nofollow" target="_blank">
        <i class="fa fa-facebook-square fa-2x" id="facebook-square-icon"></i>
      </a>
      <a class="socialicon twitter" href="https://twitter.com/placinglit" title="Twitter" rel="nofollow" target="_blank">
        <i class="fa fa-twitter-square fa-2x" id="twitter-square-icon"></i>
      </a>
    </div>
    <div id='copyright'>Placing Literature © 2012-2015. All Rights Reserved.</div>
  </div>
  <div class='pull-right'>

      <div class="linkSurround">
        <a class="navLink" href="about">About</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" target="_blank" href="https://placingliterature.wordpress.com/">Blog</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" target="_blank" href="https://soundcloud.com/placingliterature/">Podcasts</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" href="/authorspotlight">Author Spotlight</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" href="/collections">Collections</a>
      </div>
      <div class="linkSurround">
        <a class="navLink lastLink" href="http://www.google.com">Mobile</a>
      </div>
  </div>


  <!--
  <div class='row'>
    <div class='col-md-1 map-activator-btn'>+Buttons</div>
    <div class='col-md-3 footer-section'>Placing Literature &copy; 2012-2015. All Rights Reserved.</div>
    <div class='col-md-1 footer-section'><a>About</a></div>
    <div class='col-md-1 footer-section'><a>Featured Content</a></div>

    <div class='col-md-1 footer-section'><a>Blog</a></div>

    <div class='col-md-1 footer-section'><a>Podcasts</a></div>

    <div class='col-md-1 footer-section'><a>Author Spotlight</a></div>

    <div class='col-md-1 footer-section'><a>Collections</a></div>

    <div class='col-md-1 footer-section'><a>Report a Map Error</a></div>

  </div>
  <div class="pull-left">

    <div id="footer-social">
      <a class="socialicon rss" href="https://soundcloud.com/interviewingauthors"  title="RSS Feed" rel="nofollow" target="_blank"><i class="fa fa-rss-square"></i></a>
      <a class="socialicon facebook" href="https://www.facebook.com/PlacingLiterature"  title="Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook-square"></i></a>
      <a class="socialicon twitter" href="https://twitter.com/placinglit" title="Twitter"  rel="nofollow" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </div>
    <div id='overlayMinimizeBtn'>
      +Buttons
    </div>
    <div id="copyright">
     Placing Literature &copy; 2012-2015. All Rights Reserved.
    </div>


  </div>

    <div class="pull-right">
      <div class="navContainer">

      </div>
      <div class="linkSurround">
        <a class="navLink" href="about">About</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" href="#">Featured Content</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" target="_blank" href="https://placingliterature.wordpress.com/">Blog</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" href="podcasts.html">Podcasts</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" href="authorspotlight">Author Spotlight</a>
      </div>
      <div class="linkSurround">
        <a class="navLink" href="collections">Collections</a>
      </div>
    This section will be used to create a link to the contact page
    <div class="linkSurround">
    <a class="navLink lastLink" href="contact.html">Contact Us</a>
    </div>

    </div>
    -->

  </div>
</div>

{% endblock %}
{% block scripts %}
{% if center %}
  <script type="text/javascript">var CENTER = {{center}};</script>
{% endif %}
{% if key %}
  <script type="text/javascript">var PLACEKEY = {{key}};</script>
{% endif %}
<!-- this makes the scenes from MapFilterHandler available
in the window namespace -->

{% if scenes %}
  <script>
    window.SCENES = {{scenes|safe}};
    // window.PLACESNEAR = {{places_near}};
    // window.LOCJSON = {{loc_json}};
  </script>
{% endif %}



<script type="text/javascript" src="/js/src/app.js"></script>
<script type="text/javascript" src="/js/src/placelit.js"></script>

<script>
 'use strict';

// this is frontend controlling javascript code!!

    var hideOverlay = function(){
      var overlay = document.getElementById("mapOverlay");
      overlay.style.display = 'none';
      $('#featContentText').text("View Featured Content");
    }

    $('#featContent').click(function(){
      if($('#mapOverlay').css('display') == 'none'){
        $('.info-overlay').hide();
        $('#mapOverlay').show();
        $('#featContentText').text("Hide Featured Content");
      }
      else {
        $('.info-overlay').show();
        $('#mapOverlay').hide();
        $('#featContentText').text("View Featured Content");
      }
    })


    var hideEntries = function(el){
      $('.entry').each(function(e){
        e.hide();
      });
      $(el).show();
    }
    $('.new_entry_nav li').click(function(){
      $('.new_scene_section').hide();
      $('.new_entry_nav li').removeClass('activeNav');
      $(this).addClass('activeNav');
      $('#' + this.getAttribute('data-section')).show();
    });
    (function(){
      var tabs = [];
      $('.new_entry_nav li').each(function(){
        tabs.push($(this));
      });
      $('.nextSceneFieldBtn').click(function(){
        var len = tabs.length;
        for(var i=0; i<len;i++){
          if(tabs[i].hasClass('activeNav')){
            tabs[i+1].click();
            break;
          }
        }
      });
    })();
    $('#new_scene_wiki_link').click(function(e){
      e.preventDefault();

      window.open($(this).attr('href') +$('#new_scene_place_name').val().replace(' ', "%20"));
    });
    $('#shareActionLink').click(function(){
      $('.hiddenActionContainer').show();
    });
    $('.tab').click(function(){
      $('.entry').hide();
      $('.hiddenActionContainer').hide();
      $('.tab').removeClass('activeTab');
      $(this).addClass('activeTab')
      $(this.getAttribute('data-entry')).show();
    });
    var startBtn = document.getElementById("get-started-button");
    startBtn.addEventListener("click", hideOverlay);


    $('#mapcontainer').click(function(){
      $('.geosearchResults').hide();
    });



    $('.geosearchResults').click(function(event){
      event.stopPropagation();
    });

    function home_redirect(){
      window.location.assign("/")
    }

    function featured_map_redirect_TL(){

      console.log("Artist name: "  + document.getElementById('top-left-artist-name').innerHTML );

      var artist_name = document.getElementById('top-left-artist-name').innerHTML;

      console.log("clicked: " + artist_name + '\'s featured box.');

      if (typeof artist_name == 'string'){
        artist_name = artist_name.replace('[!.,/:;-_|\\]', ''); // repalce any punctuation with nothing
        artist_name = artist_name.replace(' ', '%20'); // replace space with %20
        artist_name = artist_name.replace(',','');
        var redirect_uri = '/map/filter/author/' + artist_name
        window.location.href = redirect_uri
      }
    }

    function featured_map_redirect_TR(){

      console.log("Artist name: "  + document.getElementById('top-right-artist-name').innerHTML );

      var artist_name = document.getElementById('top-right-artist-name').innerHTML;

      console.log("clicked: " + artist_name + '\'s featured box.');

      if (typeof artist_name == 'string'){
        artist_name = artist_name.replace('[!.,/:;-_|\\]', ''); // repalce any punctuation with nothing
        artist_name = artist_name.replace(' ', '%20'); // replace space with %20
        artist_name = artist_name.replace(',','');
        var redirect_uri = '/map/filter/author/' + artist_name
        window.location.href = redirect_uri
      }
    }

    function featured_map_redirect_BL(){

      var artist_name = document.getElementById('bottom-left-artist-name').innerHTML;
      console.log("clicked: " + artist_name + '\'s featured box.');

      if (typeof artist_name == 'string'){
        artist_name = artist_name.replace('[!.,/:;-_|\\]', ''); // repalce any punctuation with nothing
        artist_name = artist_name.replace(' ', '%20'); // replace space with %20
        artist_name = artist_name.replace(':','');
        var redirect_uri = '/map/filter/author/' + artist_name
        window.location.href = redirect_uri
      }
    }

    function featured_map_redirect_BR(){

      var artist_name = document.getElementById('bottom-right-artist-name').innerHTML;
      console.log("clicked: " + artist_name + '\'s featured box.');

      if (typeof artist_name == 'string'){
        artist_name = artist_name.replace('[!.,/:;-_|\\]', ''); // repalce any punctuation with nothing
        artist_name = artist_name.replace(' ', '%20'); // replace space with %20
        artist_name = artist_name.replace(':','');
        var redirect_uri = '/map/filter/author/' + artist_name
        window.location.href = redirect_uri
      }
    }

    // set up all the EventListeners on the featured author boxes

    // TL Author Spotlight
    var tl_redirect = document.getElementById("top-left-artist-name");
    tl_redirect.addEventListener("click", featured_map_redirect_TL);
    var tl_img_redirect = document.getElementById("top-left-artist-img");
    tl_img_redirect.addEventListener("click", featured_map_redirect_TL);

    // TR Author Spotlight
    var tr_redirect = document.getElementById("top-right-artist-name");
    tr_redirect.addEventListener("click", featured_map_redirect_TR);
    var tr_img_redirect = document.getElementById("top-right-artist-img");
    tr_img_redirect.addEventListener("click", featured_map_redirect_TR);

    // BL  Collection
    var bl_redirect = document.getElementById("bottom-left-artist-name");
    bl_redirect.addEventListener("click", featured_map_redirect_BL);
    var bl_img_redirect = document.getElementById("bottom-left-artist-img");
    bl_img_redirect.addEventListener("click", featured_map_redirect_BL);

    // BR Featured Author
    var br_redirect = document.getElementById("bottom-right-artist-name");
    br_redirect.addEventListener("click", featured_map_redirect_BR);
    var br_img_redirect = document.getElementById("bottom-right-artist-img");
    br_img_redirect.addEventListener("click", featured_map_redirect_BR);

    console.log({{newest_post_pub_date}});


  </script>
{% endblock %}
