{% extends 'mobilebase.tmpl' %}

{% block content %}

		<header>
			<nav>
				<a href="#" id="menu-icon"></a>
				<ul>
					<li><a href="#" class ="current">Home</a> </li>
					<li><a href="#">About</a> </li>
					<li><a href="#">Blog </a> </li>
					<li><a href="#">Contact </a> </li>
				</ul>
			</nav>

			<a href="#" id="logo"></a>

			<div id="title_tag"> Placing Literature </div>
		</header>

		<p> Here we are on Placing Literature's mobile site! </p>

		<div class="list-group">
			{% for loc in test_val %}
				<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Location Close to You</h4>
						<p class="list-group-item-text">{{ loc }} </p>
				</a>
				{% endfor %}
		</div>


		<div id="map_canvas"> </div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/js/src/mobileapp.js"></script>
	<script type="text/javascript" src="/js/src/placelit.js"></script>

{% endblock %}