@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  #loginlink {
    right: 80px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .vanishing-col {
    width: 409px !important; }

  #loginlink {
    right: 130px; }

  .navbar-profile #loginlink {
    margin-right: 114px; }

  #mapcontainer {
    height: 112%; }

  .hamburger {
    top: 8px;
    position: absolute;
    display: block;
    right: 14px; }

  .ham_dropdown {
    display: block; }

  .ham_dropdown img {
    width: 40px; }

  .drop_off {
    display: none; }

  .dropmenu {
    display: none;
    position: absolute;
    padding: 10px 0px;
    background: #222 none repeat scroll 0% 0%;
    right: 3px;
    top: 35px;
    width: 300px;
    color: #FFF;
    z-index: 999; }

  .hamburger ul {
    padding: 10px 0px 3px;
    background: #222 none repeat scroll 0% 0%;
    right: 3px;
    top: 53px;
    width: 300px;
    color: #FFF;
    z-index: 999;
    position: absolute;
    text-align: center; }

  .hamburger ul li {
    border-top: 1px solid #333;
    padding: 16px 0px 12px;
    list-style-type: none; }

  .hamburger ul li:hover {
    background: #333; }

  .hamburger a {
    color: #fff;
    font-weight: 500; }

  .hamburger a:hover {
    font-weight: 500;
    color: #fff;
    text-decoration: underline; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #mapsearchcontainer {
    min-height: 0px;
    left: 0px;
    margin: 0px;
    top: 100px;
    width: 431px;
    position: absolute; }

  #loginLink {
    right: 106px; }

  .navbar-profile #loginlink {
    margin-right: 91px; }

  .wide-map-window {
    min-width: 395px !important;
    margin-left: 16px; }

  #maplinks {
    margin-top: -91px;
    margin-left: 320px;
    font-size: 20px;
    background-color: #222222;
    background-image: none;
    border: none; }

  #mapcontainer {
    height: 120%; }

  #allscenes-text {
    display: none; }

  .hamburger {
    top: 8px;
    position: absolute;
    display: block;
    right: 14px; }

  .ham_dropdown {
    display: block; }

  .ham_dropdown img {
    width: 40px; }

  .drop_off {
    display: none; }

  .dropmenu {
    display: none;
    position: absolute;
    padding: 10px 0px;
    background: #222 none repeat scroll 0% 0%;
    right: 3px;
    top: 35px;
    width: 300px;
    color: #FFF;
    z-index: 999; }

  .hamburger ul {
    padding: 10px 0px 3px;
    background: #222 none repeat scroll 0% 0%;
    right: 3px;
    top: 53px;
    width: 300px;
    color: #FFF;
    z-index: 999;
    position: absolute;
    text-align: center; }

  .hamburger ul li {
    border-top: 1px solid #333;
    padding: 16px 0px 12px;
    list-style-type: none; }

  .hamburger ul li:hover {
    background: #333; }

  .hamburger a {
    color: #fff;
    font-weight: 500; }

  .hamburger a:hover {
    font-weight: 500;
    color: #fff;
    text-decoration: underline; }

  #slideshow, img.bgM {
    min-width: 1600px; } }
@media screen and (max-width: 701px) {
  .geosearchResults {
    max-height: 400px;
    overflow: scroll; }

  .homeNav {
    height: 102px; }

  #map-page-container {
    max-width: 701px;
    height: 112%; }

  .overlay {
    min-width: 300px;
    padding-left: 7%; }

  .tall-map-window {
    height: 500px;
    width: 94%;
    min-width: 180px;
    position: relative;
    top: 13px;
    left: 12px;
    padding: 30px; }

  .vanishing-col {
    width: 446px;
    margin-top: 540px;
    margin-left: 20px; }

  .wide-map-window {
    margin-left: 18px;
    width: 96%; }

  .wide-map-window:first-child {
    margin-top: -15px; }

  .left-map-window-div {
    left: 14%; }

  #mapsearchcontainer {
    min-height: 0px;
    left: 0px;
    margin: 0px;
    top: 100px;
    width: 431px;
    position: absolute; }

  #mapcontainer {
    margin-top: 55px; }

  #allscenes-text {
    display: none; }

  #maplinks {
    margin-left: 19px;
    margin-top: -48px; }

  #loginlink {
    top: 51px;
    position: fixed;
    right: 0px; }

  /*HAMBURGER*/
  .hamburger {
    top: 8px;
    position: absolute;
    display: block;
    right: 14px; }

  .ham_dropdown {
    display: block; }

  .ham_dropdown img {
    width: 40px; }

  .drop_off {
    display: none; }

  .dropmenu {
    display: none;
    position: absolute;
    padding: 10px 0px;
    background: #222 none repeat scroll 0% 0%;
    right: 3px;
    top: 35px;
    width: 300px;
    color: #FFF;
    z-index: 999; }

  .hamburger ul {
    padding: 10px 0px 3px;
    background: #222 none repeat scroll 0% 0%;
    right: 3px;
    top: 53px;
    width: 300px;
    color: #FFF;
    z-index: 999;
    position: absolute;
    text-align: center; }

  .hamburger ul li {
    border-top: 1px solid #333;
    padding: 16px 0px 12px;
    list-style-type: none; }

  .hamburger ul li:hover {
    background: #333; }

  .hamburger a {
    color: #fff;
    font-weight: 500; }

  .hamburger a:hover {
    font-weight: 500;
    color: #fff;
    text-decoration: underline; } }
@media screen and (max-width: 500px) {
  .vanishing-col {
    display: none; }

  .tall-map-window {
    width: 270px;
    left: 0px; }

  #mapsearchcontainer {
    width: 300px; }

  .window-container {
    min-width: 300px; }

  .placing-lit-logo {
    margin-top: 11px;
    width: 259px; } }
@media screen and (max-width: 400px) {
  .left-map-window-div {
    left: 4% !important; }

  .hamburger ul {
    right: -14px;
    width: 321px; }

  #info-overlay {
    width: 300px;
    margin-top: 30px; }

  .actionAnchor {
    margin-top: 10px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  #mapcontainer {
    height: 100%;
    position: relative;
    overflow: scroll; }

  .placing-lit-logo-collection {
    width: 200px;
    margin-top: -5px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .navbar-profile #loginlink {
    right: 20px; }

  #loading_indicator {
    top: 63px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .placing-lit-logo {
    margin-top: 17px;
    padding-left: 20px;
    width: 184px; }

  .navbar-profile #loginlink {
    right: 80px;
    top: 20px; }

  #maplinks {
    margin-left: 19px;
    top: -43px;
    left: 188px; }

  #loginlink {
    top: 0px;
    position: fixed;
    right: 56px; }

  .homeNav {
    height: 61px; }

  #mapcontainer {
    height: 424%; }

  .hamburger ul {
    padding: 0px 0px 3px;
    top: 34px; }

  .hamburger ul li {
    padding: 10px 0px 8px; }

  .geosearchResults {
    max-height: 200px; } }

/*# sourceMappingURL=media_queries.css.map */
